doctype 5
html(lang="sv")
  head
    title Treffpunkt
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/show_event.css')
    link(rel='stylesheet', href='//cdn.leafletjs.com/leaflet-0.5.1/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/leaflet.css')
    script(src='/socket.io/socket.io.js')
    script(type='text/javascript', src='//cdn.leafletjs.com/leaflet-0.5.1/leaflet.js')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(type='text/javascript', src='//connect.facebook.net/sv_SE/all.js')
    script(type='text/javascript')
      var $event = !{event};
    script(type='text/javascript', src='/javascripts/show_event.js')
  body
    #map