button {
	display: block;
	margin: 10px auto 20px auto;
}

#map .leaflet-popup-content {
	padding-bottom: 1px !important;
}

textarea {
	margin: 0 20px;
}

@media screen and (max-width: 500px) {

	button {
		margin: 5px auto 10px auto;
	}

	textarea {
		margin: 0 10px;
	}

}