div.event {
	padding: 15px 25px 25px 25px;
}

.eventLink {
	display: block;
	width: 240px;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.attendees {
	list-style: none;
	margin: 0;
	padding: 0;	
}

ul.attendees li {
	display: inline;
	margin-right: 7px;
}

ul.attendees li img {
	width: 28px;
	height: 28px;
}

.footer {
	background: #f9f9f9;
	border-top: solid 1px #eee;
	padding: 15px 25px;
}

#map .leaflet-popup-tip {
	background: #f9f9f9 !important;
}

.footer img {
	width: 28px;
	height: 28px;
	vertical-align: middle;
	margin-right: 7px;
}

#map .leaflet-popup-content .footer p {
	font-style: italic;
	margin: 5px 0 0 0;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: normal;
	margin: 15px 0 25px 0;
}

h2 {
	font-size: 1em;
	font-weight: normal;
	margin: 15px 0 0 0;
}

form {
	margin: 9px 0 0 0;
}

input[type=submit] {
	margin: 0 0 0 5px;
}

input[type=text] {
	margin: 0;
	width: 170px;
}

button {
	margin: 0;
	display: block;
	margin: 0 auto;
}

button.logged-in {
	float: right;
	display: inline;
}

#map .leaflet-popup.say .leaflet-popup-content {
	padding: 1px !important;
	min-width: 100px;
	max-width: 200px;
}

#map .leaflet-popup.say .leaflet-popup-tip {
	background: white !important;
}

#map .leaflet-popup.say .leaflet-popup-content p.say {
	font-style: italic;
	margin: 15px 20px;
}

@media screen and (max-width: 500px) {

	div.event {
		padding: 5px 15px 15px 15px;
	}

	.eventLink {
		width: 170px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.footer {
		padding: 10px 15px;
	}

	h1 {
		margin: 10px 0 15px 0;
	}

	form {
		margin: 5px 0 0 0;
	}

	input[type=text] {
		width: 105px;
	}

	button.logged-in {
		display: block;
		margin: 0 auto;
		margin-top: 5px;
		float: none;
	}

}